<div class="hero-unit">
  <h2>All Atividades</h2>
  <%- linkTo('Create a new Atividade', addAtividadePath, {class: 'btn pull-right'}); %>
</div>

<div id="atividades-list">
<script type="text/javascript">
	var list = []; 
	var ids = [];
	<% atividades.forEach(function(d){ %>
			list.push(new Array("<%=d.titulo%>"));
			ids.push("<%=d.id%>");
		<% });%>

	var $table = $("<table>").append( 
            $("<thead>").append( 
                $("<tr>").append( 
                    $("<th>").text("Titulo").append( $("<i>", { class: "fa fa-bullhorn" })),
					$("<th>")
                ) 
            ) 
        ); 
		
		$("#atividades-list").append($table); 
		
		$table.dataTable({data:list,
			"columnDefs": [ {
				"targets": 1,
				"data": "download_link",
				"render": function ( list, type, full, meta ) {
					return '<a href="/atividade_resposta/add?atividadeid='+ids.slice(0,1)+'" class="btn btn-success btn-xs"><i class="fa fa-check-square-o"></i></a>' +
						   '<a href="/atividade_resposta/index?atividadeid='+ids.slice(0,1)+'" class="btn btn-warning btn-xs"><i class="fa  fa-list-alt"></i></a>' +
						   '<a href="/atividades/'+ids.slice(0,1)+'/edit" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></a>'+
						   '<button class="btn btn-danger btn-xs" type="submit" formmethod="POST" formaction="/atividades/'+ids.shift()+'?_method=DELETE"><i class="fa fa-trash-o "></i></button>';
				 }
			  } ],
			"columns": [
                { sWidth: "85%" },
                { sWidth: "15%", sClass: "center", bSortable: false }
            ],
		});
	
	
		
			var cli = new Cliente();
			cli.constroiHtml($("#atividades-list"));
		
			

</script>
</div>